*{
    margin: 0;
    padding: 0;
}

.ldoor{
    width: 50%;
    background-color: red;
    height:100%;
    position: absolute;
    left: 0;
    animation: ldoor 3s infinite;
}

.rdoor{
    width: 50%;
    background-color: blue;
    height:100%;
    position: absolute;
    right: 0;
    animation: rdoor 3s infinite;
}

@keyframes ldoor{
    from{left:0;}
    to{left:-50%;}
}

@keyframes rdoor{
    from{right:0;}
    to{right:-50%;}
}