* {
    background-color: whitesmoke;
    box-sizing: border-box;
}

header {
    background-color: dodgerblue;
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}

.description {
    color: red;
}

#note {
    color: black;
}

/*-----------Layout--------*/

.grid {
    background: whitesmoke;
    border-radius: 0.285em;
    box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.1);
    margin: 45px auto;
  }

.item {
    color: whitesmoke;
    text-shadow: 0 2px 0 rgba(110,133,156,0.18);
    padding: 0.85em;
    background: dodgerblue;
    border: solid 1px rgba(110,133,156,0.15);
    border-radius: 0.3em;
}
/*-----------Nav--------*/

nav {
    display: flex;
    flex-direction: column;
}


/*-----------Projects--------*/

.border_project {
    border: 2px solid black;
    max-width: 100%;
} 

.img_projects {
    width: 350px;
    height: 350px;
    border: 2px solid dodgerblue;
    margin: 10px 20px;
}

button {
    height: 30px;
    background-color: dodgerblue;
}

button:hover {
    background-color: red;
}

/*-----------Projects--------*/

footer {
    padding: 10px;
    background-color: dodgerblue;
}


/*-----------Media Queries--------*/

@media (min-width: 500px) {
    .border_project {
        max-width: 30%;
    } 
}