body {
    background-color: black;
}

header {
    background-color: white;
    border: 1px solid whitesmoke;
    padding: 20px;
    margin: 10px;
}

.description {
    color: red;
}

#note {
    color: dodgerblue;
}

.projects {
    width: 350px;
    height: 350px;
    border: 2px solid dodgerblue;
    padding-bottom: 30px;
    margin-top: 10px;
}