* {
    background: white;
    box-sizing: border-box;
}

h1, header h2 {
    color: whitesmoke;
    background: black;
    font-family: cursive;
    text-align: center;
}

header {
    background-color: black;
    padding: 10px;
    margin: 10px;
}

.description {
    color: red;
}

#note {
    color: black;
}

/*-----------Pong--------*/

.topBackground{
    margin-left: 200px;
    margin-top: 25px;
}

iframe {
    margin: auto;
    width: 50%;
    border: 3px solid whitesmoke;
    padding: 5px;
    display: block;
}

.board {
    width: 550px;
    height: 450px;
    margin-left: 400px;
    margin-top: 20px;
}

/*-----------Nav--------*/

header a:visited {
    color: white;
    background: black;
}

header a:link {
    text-decoration-line: none;
}

header a:hover {
    color: dodgerblue;
}

/*-----------Layout--------*/

.grid {
    background: whitesmoke;
    border-radius: 0.285em;
    /* box-shadow: 0 0.1em 0 0 rgba(0,0,0,0.1); */
    margin: 45px auto;
  }

.item {
    color: whitesmoke;
    text-shadow: 0 2px 0 rgba(110,133,156,0.18);
    padding: 0.85em;
    /* background: dodgerblue; */
    /* border: solid 1px rgba(0, 128, 255, 0.15); */
    border-radius: 0.3em; 
}

.itemTwo {
    color: whitesmoke;
    text-shadow: 0 2px 0 rgba(110,133,156,0.18);
    padding: 0.85em;
    /* background: dodgerblue;  */
    border: solid 1px rgba(0, 128, 255, 0.15);
    border-radius: 0.3em; 
}
/*-----------Nav--------*/

nav {
    display: flex;
    flex-direction: column;
}


/*-----------Projects--------*/

/* .border_project {
    border: 2px solid black;
    max-width: auto;
}  */

.img_projects {
    width: 250px;
    height: 250px;
    /* border: 2px solid dodgerblue; */
    margin: 10px 25px;
    box-shadow: 0 15px 20px -12px black;
}

.img_projects:hover {
    border: 1px solid red;
    color: red;
}

button {
    height: 30px;
    background-color: dodgerblue;
}

/* button:hover {
    background-color: red;
}

button a:visited {
    background: dodgerblue;
    color: black;
    list-style-type: none;
}

button a:link {
    list-style-type: none;
} */


/*-----------About--------*/

.about p,
.business {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.blue {
    color: dodgerblue;
}

.pong{
    text-align: center;
    color: black;
}

/*-----------Business Development-------*/

.business {
    color: black;
}

/*-----------Social Links--------*/

h3 {
    text-align: center;
}

/*-----------Footer--------*/

footer {
    padding: 10px;
    background: black;
}


/*-----------Media Queries--------*/

@media (min-width: 500px) {
    .border_project {
        max-width: 30%;
    } 
}